<script>
  WebFont.load({
    google: {
      families: ["Roboto"]
    }
  });
</script>

<main>
  <header>
    <nav class="group"></nav>
  </header>

  <section class="main"></section>

  <footer>
    <article class="footer-info">
      <small>Built with Rails and Backbone.js</small>

      <small>
        &copy; 2014-2015
        <a class="underline"
          href="http://conzjiang.github.io"
          target="_blank">Constance Jiang</a>
      </small>

      <small>
        TV series summaries made possible through the
        <a class="underline"
          href="http://www.omdbapi.com/"
          target="_blank">OMDb API</a>.
      </small>
    </article>
  </footer>

  <div class="banner"></div>
  <div class="cover"></div>
</main>

<script>
  $(function () {
    Clickster.MAX_USERNAME_LENGTH = <%= User::MAX_USERNAME_LENGTH %>;
    Clickster.FbAppId = "<%= ENV['FB_APP_ID'] %>";
    Clickster.DECADES = <%= TvDecade.decades.to_json.html_safe %>;
    Clickster.GENRES = <%= TvGenre.genres.to_json.html_safe %>;
    Clickster.TV_STATUSES = <%= TvShow.statuses_list.to_json.html_safe %>;
    Clickster.LIST_STATUSES = <%= Watchlist.statuses_list.to_json.html_safe %>;
    Clickster.ALL_LIST_STATUSES = Clickster.LIST_STATUSES.concat(["Favorites"]);
    Clickster.genreExceptions = <%= @genre_exceptions.to_json.html_safe %>;
    Clickster.NUM_TO_DISPLAY = 3;
    Clickster.STATUS_MESSAGES =
      <%= Watchlist::STATUS_MESSAGES.to_json.html_safe %>;

    Clickster.initialize({
      navbar: "nav",
      rootEl: ".main",
      banner: ".banner"
    });

    <% if signed_in? %>
    Clickster.currentUser.fetch();
    <% end %>
  });
</script>

<script id="tv_shows">
  <% tv_shows = TvShow.all.map do |tv_show| %>
    <% { id: tv_show.id, title: tv_show.title, pattern: tv_show.title } %>
  <% end %>

  <%= tv_shows.to_json.html_safe %>
</script>

<script id="users">
  <% users = User.all.map do |user| %>
    <% { id: user.id, pattern: user.username } %>
  <% end %>

  <%= users.to_json.html_safe %>
</script>
