<main>
  <nav></nav>

  <section id="main"></section>
</main>

<section class="modal">
  <div class="overlay"></div>
  <article class="modal-content"></article>
</section>

<script>
  $(function () {
    Clickster.initialize({
      $navbar: $("nav"),
      $rootEl: $("#main"),
      $modal: $(".modal-content")
    });

    <% if signed_in? %>
    Clickster.currentUser.fetch();
    <% end %>
  });
</script>

<script id="decades">
  <%= TvDecade.decades_list.to_json.html_safe %>
</script>

<script id="genres">
  <%= TvGenre.genres_list.to_json.html_safe %>
</script>

<script id="statuses">
  <%= TvShow.statuses_list.to_json.html_safe %>
</script>

<script id="tv_shows">
  <%= TvShow.pluck(:title).to_json.html_safe %>
</script>

<script id="users">
  <%= User.pluck(:username).to_json.html_safe %>
</script>
