<header>
  <figure>
    <img src="<%= user.escape("image_url") %>">
  </figure>

  <h1><%= user.escape("username") %></h1>

  <% if (user.isCurrentUser) { %>
    <a class="edit" href="#/users/" + <%= user.id %> + "/edit">Edit</a>
  <% } %>
</header>

<section class="lists">
  <% _(allStatuses).each(function (status) { %>
  <article class="list">
    <h2><%= status %></h2>

    <ul>
      <% _(user.watchlists(status)).each(function (watchlist) { %>
        <li>
          <a href="#/tv/<%= watchlist.get("tv_show_id") %>">
            <%= watchlist.escape("title") %>
          </a>
        </li>
      <% }) %>
    </ul>
  </article>
  <% }) %>
</section>