<header>
  <ul class="image-tiles group">
    <li><div class="cover"></div></li>
    <li><div class="cover"></div></li>
    <li><div class="cover"></div></li>
    <li><div class="cover"></div></li>
  </ul>

  <figure>
    <img src="<%= user.escape("image_url") %>">
  </figure>

  <h1><%= user.escape("username") %></h1>

  <p class="watching icon-watchlist">
    Watching <%= Utils.pluralize(user.get("watch_count"), "show") %>
  </p>

  <p class="favorites icon-full-heart">
    <%= Utils.pluralize(user.get("favorite_count"), "favorite show") %>
  </p>

  <button type="button" class="follow"></button>

  <% if (user.get("is_current_user")) { %>
    <a class="admin-edit" href="#/user/edit">Edit</a>
  <% } %>
</header>

<section class="lists main-content">
  <form class="inner-nav">
    <fieldset>
      <input id="watchlists" type="radio" name="goTo" value="watchlists">
      <label for="watchlists">Watchlists</label>
    </fieldset>

    <fieldset>
      <input id="followers" type="radio" name="goTo" value="followers">
      <label for="followers">Followers</label>
    </fieldset>
  </form>


  <% _(allStatuses).each(function (status) { %>
    <article class="list">
      <% var listItems = user.watchlists(status) %>
      <% if (status === "Favorites") listItems = user.favorites() %>

      <h2><%= status %> (<%= listItems.length %>)</h2>

      <% if (listItems.length) { %>
        <ul class="tv-cards group">
          <% listItems.forEach(function (item) { %>
            <li><%= tvCard({ tv: item }) %></li>
          <% }) %>
        </ul>
      <% } else { %>
        None!
      <% } %>
    </article>
  <% }) %>
</section>
