<header>
  <ul class="image-tiles group">
    <li><div class="cover"></div></li>
    <li><div class="cover"></div></li>
    <li><div class="cover"></div></li>
    <li><div class="cover"></div></li>
  </ul>

  <figure>
    <img src="<%= user.escape("image_url") %>">
  </figure>

  <h1><%= user.escape("username") %></h1>

  <p class="watching icon-watchlist">
    Watching <%= Utils.pluralize(user.watchNum(), "show") %>
  </p>

  <p class="favorites icon-full-heart">
    <%= Utils.pluralize(user.favoriteCount(), "favorite show") %>
  </p>

  <button type="button" class="follow"></button>

  <% if (user.get("is_current_user")) { %>
    <a class="admin-edit" href="#/user/edit">Edit</a>
  <% } %>
</header>

<section class="lists main-content">
  <% _(allStatuses).each(function (status) { %>
    <article class="list">
      <% var listItems = user.watchlists(status) %>
      <% if (status === "Favorites") listItems = user.favorites().models %>

      <h2><%= status %> (<%= listItems.length %>)</h2>

      <% if (listItems.length) { %>
        <ul class="tv-cards group">
          <% _(listItems).each(function (item) { %>
            <%= tvCard({ tv: item }) %>
          <% }) %>
        </ul>
      <% } else { %>
        None!
      <% } %>
    </article>
  <% }) %>
</section>