<header>
  <figure>
    <img src="<%= user.escape("image_url") %>">
  </figure>

  <h1><%= user.escape("username") %></h1>

  <p class="watching">
    Watching <%= Utils.pluralize(user.watchNum(), "show") %>
  </p>

  <p class="favorites">
    <%= Utils.pluralize(user.favoriteCount(), "favorite show") %>
  </p>

  <% if (user.isCurrentUser) { %>
    <a class="admin-edit" href="#/users/edit">Edit</a>
  <% } %>
</header>

<section class="lists">
  <% _(allStatuses).each(function (status) { %>
    <article class="list">
      <h2><%= status %></h2>

      <% var listItems = user.watchlists(status) %>
      <% if (status === "Favorites") listItems = user.favorites().models %>

      <% if (listItems.length) { %>
        <ul>
          <% _(listItems).each(function (item) { %>
            <li>
              <a href="#/tv/<%= item.get("tv_show_id") %>">
                <%= item.escape("title") %>
              </a>
            </li>
          <% }) %>
        </ul>
      <% } else { %>
        None!
      <% } %>
    </article>
  <% }) %>
</section>