<li class="group">
  <a class="image-block" href="#/tv/<%= tv.id %>">
    <img src="<%= tv.escape("image_url") %>">
  </a>

  <div class="content">
    <h3><a href="#/tv/<%= tv.id %>"><%= tv.escape("title") %></a></h3>

    <p class="blurb"><%= tv.escape("blurb") %></p>
  </div>

  <a href="#/tv/<%= tv.id || tv.get("tv_show_id") %>" class="cover"></a>
</li>