<li class="group">
  <a class="image-block" href="#/tv/<%= tv.id %>">
    <img src="<%= tv.image_url %>">
  </a>

  <div class="content">
    <h3><a href="#/tv/<%= tv.id %>"><%= tv.title %></a></h3>

    <p class="blurb"><%= tv.blurb %></p>
  </div>
</li>