<li class="group">
  <a class="image-block" href="<%= user.publicUrl() %>">
    <img src="<%= user.escape("image_url") %>">
  </a>

  <div class="content ignore">
    <h3>
      <a href="<%= user.publicUrl() %>">
        <%= user.escape("username") %>
      </a>
    </h3>

    <ul class="stats group">
      <li class="watchlist icon-watchlist">
        <%= user.escape("watch_count") %>
      </li>

      <li class="favorite icon-full-heart">
        <%= user.escape("favorite_count") %>
      </li>
    </ul>
  </div>
</li>