<a class="image-block" href="#/tv/<%= tv.id %>"></a>

<div class="content">
  <div class="title group">
    <h3><a href="#/tv/<%= tv.id %>"><%= tv.escape("title") %></a></h3>
    <h4><small>Rating</small> <%= tv.get("rating") || "n/a" %></h4>
  </div>

  <p class="blurb"><%= tv.escape("blurb") %></p>
  <a href="#/tv/<%= tv.id %>" class="cover ignore"></a>
</div>

<ul class="buttons group">
  <li class="watchlist">
    <ul class="statuses">
      <% _(Clickster.LIST_STATUSES).each(function (status) { %>
        <li data-option="<%= status %>"><%= status %></li>
      <% }) %>
    </ul>
  </li>
  <li class="favorite"></li>
</ul>