<h1>Add a Series</h1>

<form class='new-imdb-tv'>
  <h2>Autocomplete from IMDB</h2>
  <input type="text" name="title" placeholder='Series Title'>
  <button>Autocomplete Form</button>

  <p class='search-status'></p>
</form>

<form class="new-tv">
  <h2>Add Manually</h2>

  <ul class='errors'></ul>

  <fieldset>
    <label for="tv_show_title">Title</label>
    <input id="tv_show_title"
           type="text"
           name="tv_show[title]"
           value="<%= tv.escape('title') %>">
  </fieldset>

  <fieldset>
    <strong>Genre(s)</strong>
    <ul class='genres'>
      <% _(Clickster.GENRES).each(function(genre) { %>
        <li>
          <input id="form_genre_<%= genre.replace(/\//g, "") %>"
                 type="checkbox"
                 name="tv_show[genres][]"
                 value="<%= genre %>">
          <label for='form_genre_<%= genre.replace(/\//g, "") %>'>
            <%= genre %>
          </label>
        </li>
      <% }) %>
    </ul>
  </fieldset>

  <fieldset>
    <label for="tv_show_network">Network (please abbreviate)</label>
    <input id="tv_show_network"
           type="text"
           name="tv_show[network]"
           value="<%= tv.escape('network') %>">
  </fieldset>

  <fieldset>
    <label for="tv_show_num_seasons"># of Seasons</label>
    <input id="tv_show_num_seasons"
           type="number"
           name="tv_show[num_seasons]"
           value="<%= tv.get('num_seasons') %>">
  </fieldset>

  <fieldset>
    <label for="tv_show_start_year">Start Year</label>
    <input id="tv_show_start_year"
           type="number"
           name="tv_show[start_year]"
           value="<%= tv.get('start_year') %>">
  </fieldset>

  <fieldset>
    <label for="tv_show_end_year">
      End Year (Leave blank if currently airing)
    </label>
    <input id="tv_show_end_year"
           type="number"
           name="tv_show[end_year]"
           value="<%= tv.get('end_year') %>">
  </fieldset>

  <fieldset>
    <label for='tv_show_status'>Status</label>
    <select id='tv_show_status' name="tv_show[status]">
      <option></option>

      <% _(Clickster.STATUSES).each(function (status) { %>
        <option value='<%= status %>'><%= status %></option>
      <% }) %>
    </select>
  </fieldset>

  <fieldset>
    <label for="tv_show_blurb">Description</label>
    <textarea id='tv_show_blurb' name="tv_show[blurb]"><%= tv.escape('blurb') %></textarea>
  </fieldset>

  <button>Add Series</button>

  <ul class='errors'></ul>
</form>
