<section class="image-block">
  <ul class="image-tiles group">
    <li><div class="cover"></div></li>
    <li><div class="cover"></div></li>
    <li><div class="cover"></div></li>
    <li><div class="cover"></div></li>
  </ul>

  <div class="title-wrapper">
    <div class="title">
      <figcaption>
        <%= tv.escape("title") %>

        <% if (isAdmin) { %>
          <a class="admin-edit icon-key" href="#/tv/<%= tv.id %>/edit">Edit</a>
        <% } %>
      </figcaption>

      <ul class="genres group">
        <% _(tv.get("genres")).each(function (genre) { %>
          <li>
            <a href="#/genres/<%= Utils.hyphenate(genre) %>"><%= genre %></a>
          </li>
        <% }) %>
      </ul>
    </div>
  </div>
</section>

<section class="tv-info main-content group">
  <div class="wrapper group">
    <article class="info">
      <ul class="statuses group">
        <% _(Clickster.LIST_STATUSES).each(function (status) { %>
          <li class="list icon-<%= Utils.hyphenate(status) %>"
              data-option="<%= status %>">
            <%= status %>
          </li>
        <% }) %>

        <li class="favorite icon-empty-heart"><strong></strong>Favorite</li>
      </ul>

      <span class="warning">You must be logged in to do that!</span>
      <p class="blurb"><%= tv.escape("blurb") %></p>
    </article>

    <article class="stats">
      <label>Stats</label>
      <ul class="stats-info">
        <li>
          <%= tv.escape("status") %>
        </li>

        <li>
          <strong>on</strong> <%= tv.escape("network") || "n/a" %>
        </li>

        <li>
          <strong>for</strong>
          <%= Utils.pluralize(tv.get("num_seasons"), "season") %>
        </li>

        <li>
          <strong>from</strong>
          <%= tv.escape("start_year") %> -
          <%= tv.escape("end_year") || "present" %>
        </li>
      </ul>

      <aside>
        <label>IMDb Rating</label> <%= tv.escape("rating") %>
      </aside>
    </article>
  </div>
</section>
