<figure class="image-block">
  <div class="cover"></div>
  <div class="content">
    <figcaption><%= tv.escape("title") %></figcaption>
    <ul class="genres group">
      <% _(tv.get("genres")).each(function (genre) { %>
        <li><a href="#/<%= genre %>"><%= genre %></a></li>
      <% }) %>
    </ul>
  </div>

  <% if (isAdmin) { %>
    <a class="edit" href="#/tv/<%= tv.id %>/edit">Edit</a>
  <% } %>
</figure>

<section class="options">
  <ul class="group">
    <li class="watchlist">Add to Watchlist</li>
    <li class="favorite">Favorite</li>

    <li class="list" data-option="current">Watching</li>
    <li class="list" data-option="plan">Plan to Watch</li>
    <li class="list" data-option="completed">Completed</li>
    <li class="list" data-option="dropped">Dropped</li>
  </ul>
</section>

<article class="tv-info">
  <ul class="info">
    <li><%= tv.get("status") %></li>
    <li><label>on</label> <%= tv.escape("network") %></li>
    <li><label>for</label> <%= tv.escape("num_seasons") %> season(s)</li>

    <% endYear = tv.get("end_year") %>
    <% if (!endYear) endYear = "present" %>
    <li><label>from</label> <%= tv.get("start_year") %> - <%= endYear %></li>
  </ul>

  <aside>
    <p class="rating"><%= tv.get("rating") %></p>
    on IMDb
  </aside>

  <p class="blurb"><%= tv.escape("blurb") %></p>
</article>

<script>
  $(function () {
    $("main").on("scroll", function (e) {
      var scrollPos = $("main").scrollTop();

      if (scrollPos < 100) {
        e.preventDefault();
        $(".image-block").css({
          "background-position": "0 -" + scrollPos + "px"
        });
      }
    });
  });
</script>