<figure class="image-block">
  <div class="cover"></div>
  <div class="content">
    <figcaption><%= tv.escape("title") %></figcaption>
    <ul class="genres group">
      <% _(tv.get("genres")).each(function (genre) { %>
        <li>
          <a href="#/genres/<%= Utils.hyphenate(genre) %>"><%= genre %></a>
        </li>
      <% }) %>
    </ul>
  </div>

  <% if (isAdmin) { %>
    <a class="admin-edit" href="#/tv/<%= tv.id %>/edit">Edit</a>
  <% } %>
</figure>

<section class="options">
  <ul class="group">
    <li class="button watchlist">Add to Watchlist</li>
    <li class="button favorite">Favorite</li>

    <% _(Clickster.LIST_STATUSES).each(function (status) { %>
      <li class="list" data-option="<%= status %>">
        <strong></strong>
        <%= status %>
      </li>
    <% }) %>
  </ul>
</section>

<span class="warning">You must be logged in to do that!</span>

<article class="tv-info">
  <ul class="info">
    <li>
      <%= tv.get("status") %>
    </li>

    <li>
      <label>on</label> <%= tv.escape("network") || "n/a" %>
    </li>

    <li>
      <label>for</label> <%= Utils.pluralize(tv.get("num_seasons"), "season") %>
    </li>

    <% endYear = tv.get("end_year") %>
    <% if (!endYear) endYear = "present" %>
    <li>
      <label>from</label> <%= tv.get("start_year") %> - <%= endYear %>
    </li>
  </ul>

  <aside>
    <p class="rating"><%= tv.get("rating") %></p>
    on IMDb
  </aside>

  <p class="blurb"><%= tv.escape("blurb") %></p>
</article>