<h3></h3>
<small class="total-watchers">
  <%= Utils.pluralize(watchers.length, "person") %>
  <%= Utils.pluralizeVerb(watchers.length, headerVerb) %> this.
</small>

<ul class="watchers-list group">
  <% watchers.each(function (user) { %>
    <li>
      <a href="<%= user.publicUrl() %>"
        data-user="<%= user.escape("username") %>"
        class="tool-tip"
        style="background-image:url(<%= user.escape("image_url") %>)"></a>
    </li>
  <% }) %>
</ul>
