<form class="inner-nav small">
  <% if (onMobile) { %>
    <select name="list-status">
      <% _(Clickster.ALL_LIST_STATUSES).each(function (status) { %>
        <option value="<%= status %>"><%= status %></option>
      <% }) %>
    </select>
  <% } else { %>
    <% _(Clickster.ALL_LIST_STATUSES).each(function (status) { %>
      <% var statusId = Utils.hyphenate(status) %>

      <fieldset>
        <input
          id="<%= statusId %>"
          type="radio"
          name="list-status"
          value="<%= status %>">
        <label for="<%= statusId %>">
          <%= status %>
          (<%= tv.watchCounts()[status] %>)
        </label>
      </fieldset>
    <% }) %>
  <% } %>
</form>