<form class="inner-nav small">
  <% if (onMobile) { %>
    <fieldset class="select-wrapper">
      <span class="illusion"></span>
      <select name="list-status">
        <% _(Clickster.ALL_LIST_STATUSES).each(function (status) { %>
          <option value="<%= status %>">
            <%= status %> (<%= tv.watchCounts()[status] %>)
          </option>
        <% }) %>
      </select>
    </fieldset>
  <% } else { %>
    <% _(Clickster.ALL_LIST_STATUSES).each(function (status) { %>
      <% var statusId = Utils.hyphenate(status) %>

      <fieldset>
        <input
          id="<%= statusId %>"
          type="radio"
          name="list-status"
          value="<%= status %>">
        <label for="<%= statusId %>">
          <%= status %>
          (<%= tv.watchCounts()[status] %>)
        </label>
      </fieldset>
    <% }) %>
  <% } %>
</form>