<form class="search text-search">
  <h2>Search</h2>

  <fieldset class="group">
    <input
      class="text-search-input"
      type="text"
      name="query"
      autocomplete="off"
      placeholder="for TV shows or users">

    <button class="submit-text-search icon-search"></button>
  </fieldset>
</form>

<form class="search discover">
  <h2>Discover</h2>

  <ul class="decades group">
    <% Qliqster.DECADES_LIST.forEach(function (decade) { %>
      <% var decadeId = Qliqster.DECADES[decade] %>
      <li>
        <input id="decade_<%= decade %>"
               type="checkbox"
               name="decades[]"
               value="<%= decadeId %>">
        <label for="decade_<%= decade %>">'<%= decade %>s</label>
      </li>
    <% }) %>

    <li>
      <input id="decade_current"
             type="checkbox"
             name="current"
             value="true">
      <label for="decade_current">Today</label>
    </li>
  </ul>

  <ul class="genres group">
    <% for (var genre in Qliqster.GENRES) { %>
      <% var genreId = Qliqster.GENRES[genre] %>
      <li>
        <input id="genre_<%= genre %>"
               type="checkbox"
               name="genres[]"
               value="<%= genreId %>">
        <label for="genre_<%= genre %>"><%= genre %></label>
      </li>
    <% } %>
  </ul>

  <button>Search</button>
</form>
