<li>
  <p>
    <a href="<%= item.idolUrl %>"><%= item.escape("idol_name") %></a>
    <%= item.escape("message") %>
    <a href="<%= item.subjectUrl %>"><%= item.escape("subject_name") %></a>
  </p>

  <time class="timeago" datetime="<%= item.get("created_at") %>"></time>
</li>