<h1>Search Results</h1>

<% if (results && results.text) { %>
  <h2>TV Show Results</h2>
  <% if (results.tvResults.length > 0) { %>
    <ul>
      <% _(results.tvResults).each(function (tv) { %>
        <li><a href="#/tv/<%= tv.id %>"><%= tv.title %></a></li>
      <% }) %>
    </ul>
  <% } else { %>
    No results!
  <% } %>

  <h2>User Results</h2>
  <% if (results.userResults.length > 0) { %>
    <ul>
      <% _(results.userResults).each(function (user) { %>
        <li><a href="#/users/<%= user.username %>"><%= user.username %></a></li>
      <% }) %>
    </ul>
  <% } else { %>
    No results!
  <% } %>

<% } else if (results && results.length > 0) { %>
  <ul>
    <% _(results).each(function (tv) { %>
      <li><a href="#/tv/<%= tv.id %>"><%= tv.title %></a></li>
    <% }) %>
  </ul>
<% } else { %>
  No results!
<% } %>
